<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>LOGIN</h2>
		</div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" layout="row" layout-align="center center">
			<md-button 
				md-autofocus
				aria-label="Botão"
				class="md-raised md-primary"
				ng-click="hide()"
				layout="row"
				style="width: 200px;">
				<md-icon flex="none" class="mdi mdi-facebook"></md-icon>
				<div flex layout="row" layout-align="center center">ENTRAR</div>
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>