<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>LOGIN</h2>
		</div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" layout="column" layout-align="center center">
			<p>
				Obrigado por fazer o seu registro.
				<br>
				Agora você pode fazer o download do nosso aplicativo e ter o melhor do conteúdo do History no seu bolso.
			</p>
			<div flex layout="row" layout-align="center center">
				<a href="#" layout="row" layout-align="center center">
					<img width="50%" src="img/playstore.png">
				</a>
				<a href="#" layout="row" layout-align="center center">
					<img width="50%" src="img/appstore.png">
				</a>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>