<md-button 
    ui-sref="institutionalStore"
    class="md-fab md-accent md-fab-top-right"
    aria-label='Criar Institucional'>
    <md-icon class="mdi mdi-plus"></md-icon>
    <md-tooltip md-direction="left">
        Criar Notificação Institucional
    </md-tooltip>
</md-button>
<md-content
    layout-fill 
    layout="column"
    class="institutional-index"
    layout-padding
    when-scrolled="index(false)">
    <h1 class="md-display-1">
		Notificações Institucional <small ng-show="total >= 0">(total: {{ total | zeroPad:2 }})</small>:
	</h1>
    <form
        id="filterForm"
        class="filter-container"
        flex="none"
        layout="row"
        layout-align="end center"
        layout-padding
        ng-submit="index(true)">
        <input type="submit" style="display: none;">
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Pesquisar...</label>
            <input
                type="search"
                ng-model="filter.quote"
                autocorrect="off"
                autocapitalize="words"
                md-maxlength="50"
                ng-change="index(true)"
                ng-model-options='{ debounce: 1000 }'/>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Status:</label>
            <md-select ng-model="filter.enabled" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Ativos
                </md-option>
                <md-option ng-value="0">
                    Desativados
                </md-option>
            </md-select>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container class="no-errors-spacer">
            <label>De:</label>
            <md-datepicker 
                ng-model="filter.init" 
                name="filter_init" 
                md-hide-icons="calendar"
                date-format></md-datepicker>
        </md-input-container>
        <md-input-container class="no-errors-spacer">
            <label>Até:</label>
            <md-datepicker 
                ng-model="filter.end" 
                name="filter_end" 
                md-hide-icons="calendar"
                date-format></md-datepicker>
        </md-input-container>
        <div>
            <md-button class="md-icon-button md-primary" ng-click="index(true)" ng-show="filter.init || filter.end">
                <md-icon class="mdi mdi-filter"></md-icon>
                <md-tooltip md-direction="bottom">
                    Filtrar
                </md-tooltip>
            </md-button>
        </div>
    </form>
    <md-list flex>
        <md-list-item aria-label="Nenhum resultado." ng-if="institutionals.length == 0 && !loading">
            <div class="md-list-item-text" flex layout="row" layout-align="center center">
                Nenhum item encontrado.
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="institutional in institutionals" ui-sref="institutionalShow({ id : institutional.id })">
            <div style="margin-right: 10px;">
                #{{ institutional.id | zeroPad:4 }}
            </div>
            <div flex="none" class="thumb" style="background-image: url({{ institutional.image.thumb | trust }});"></div>
            <div class="md-list-item-text" layout="column">
                <h3>{{ institutional.title }}</h3>
                <h4>{{ institutional.conveyed_at | datetime }}</h4>
            </div>
            <div class="md-secondary" layout="row" layout-align="center center">
                <div hide-xs style="width: 100px;"><span class="muted">Ativo:</span> {{ institutional.enabled == 1 ? 'SIM':'NÃO' }}</div>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ui-sref="institutionalUpdate({ id : institutional.id })">Editar</md-button>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ng-click="delete(institutional)">Excluir</md-button>
            </div>
        </md-list-item>
        <div
            layout="row"
            layout-padding
            aria-label="Paginação"
            layout-align="center center"
            md-colors="{background: 'accent-100-0.2'}" 
            ng-style="{ opacity: loading ? 1 : 0 }">
            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="30" 
                class="md-accent"></md-progress-circular>
        </div>
    </md-list>
    
</md-content>
<style type="text/css">
    .institutional-index md-list-item .thumb {
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 15px;
    }
    
    .institutional-index  .filter-author .md-label {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .institutional-index md-input-container {
        margin: 20px 0 0;
    }
</style>