<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover Notificação Institucional
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="institutionalUpdate({ id:institutional.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar Notificação Institucional
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="institutionalStore">
            <md-tooltip md-direction="left">
                Novo Notificação Institucional
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>    
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="institutional-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Notificação Institucional
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ institutional.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ institutional.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Resumo:</strong>
	        </div>
	        <div flex class="content-right">
	        	<p ng-bind-html="institutional.summary | trust"></p>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	<div 
	        		flex
	        		scale-image="48"
	        		src="{{ institutional.image.file | trust }}"
	        		></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Data:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ institutional.conveyed_at | datetime:'lll' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Descrição:</strong>
	        </div>
	        <div flex class="content-right">
	        	<p ng-bind-html="institutional.note | trust"></p>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ institutional.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Solicitado Notificação:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ institutional.send_notification == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    <div ng-if="institutional.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ institutional.author.avatar }});"></div> {{ institutional.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ institutional.author.email }}">{{ institutional.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ institutional.created_at | datetime }}">
	        			Criado em: {{ institutional.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ institutional.updated_at | datetime }}" ng-if="institutional.created_at != institutional.updated_at">
	        			Alterado em: {{ institutional.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.institutional-show h1 {
		margin: 0;
	}
	
	.institutional-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	
	
	.institutional-show .content-right div {
		vertical-align: middle;
	}
	
	.institutional-show .content-right p {
		margin: 0;
	}
	
	.institutional-show .line {
		margin: 15px 0;
	}
	
	.institutional-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	

	@media screen and (max-width: 600px) {
	    
	    .institutional-show .content-left {
	    	text-align: left;
	    }
	}
</style>