<md-dialog class="playlist-video-index">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>VÍDEOS</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancelar">
                <md-icon class="mdi mdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
        <div flex class="md-dialog-content" layout="column">
            
            <div class="filter-container" flex="none" layout="row" layout-align="space-between center">
                <md-radio-group
                    class="filter-author md-primary"
                    ng-model="filter.author"
                    layout="row"
                    layout-padding
                    ng-change="index(true)">
                    <md-radio-button value="0">TODOS</md-radio-button>
                    <md-radio-button value="1">OFICIAIS</md-radio-button>
                    <md-radio-button value="2">USUÁRIOS</md-radio-button>
                    <md-radio-button value="3">MINHAS PLAYLISTS</md-radio-button>
                </md-radio-group>
                <span>{{total | zeroPad:2}} Vídeo{{ total > 1 ? 's':'' }}</span>
            </div>
            
            <md-list flex>
                <md-list-item aria-label="Nenhum resultado." ng-if="videos.length == 0">
                    <div class="md-list-item-text" flex layout="row" layout-align="center center">
                        Nenhum item encontrado.
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-repeat="video in videos">
                    <div layout="row" layout-align="center center" layout-padding>
                        <div class="id-container muted">
                            #{{ video.id | zeroPad:4 }}
                        </div>
                        <div flex="none" class="thumb" style="background-image: url({{ video.image.thumb | trust }});"></div>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ video.title }}</h3>
                            <h4>{{ video.created_at | datetime }}</h4>
                        </div>
                        <div class="md-secondary" layout="row" layout-align="center center">
                            <div><span class="muted">Ativo:</span> {{ video.enabled == 1 ? 'SIM':'NÃO' }}</div>
                            <md-button 
                                style="min-width: 150px" 
                                class="md-accent" 
                                ng-click="highlight(video.id)">
                                <md-icon 
                                    class="mdi mdi-check" 
                                    ng-show="video.playlists[0].pivot.highlight == 1"></md-icon>
                                Destaque
                            </md-button>
                            <md-button style="min-width: 150px" class="md-primary" ng-click="add(video)">
                                <md-icon 
                                    class="mdi mdi-check" 
                                    ng-show="video.playlists.length > 0"></md-icon>
                                Adicionar
                            </md-button>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item ng-click="index(false)" ng-show="page > 1" aria-label="Paginação">
                    <div class="md-list-item-text" flex layout="row" layout-align="center center">
                        <md-icon class="mdi mdi-plus"></md-icon>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="cancel()">
            Cancelar
        </md-button>
        <md-button class="md-raised md-primary" ng-click="hide()">
            Salvar
        </md-button>
    </md-dialog-actions>
</md-dialog>
<style type="text/css">
    .playlist-video-index {
        max-width: 90%;
        max-height: 90%;
        width: 90%;
        height: 90%;
        border-radius: 0;
    }
    
    .playlist-video-index md-list-item .thumb {
        width: 60px;
        height: 45px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 15px;
    }
    
    .playlist-video-index  .filter-author .md-label {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>