<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="gifUpdate({ id:gif.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="gifStore">
            <md-tooltip md-direction="left">
                Novo
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>        
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="gif-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Gif
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ gif.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ gif.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	<div 
	        		flex
	        		scale-image="52"
	        		src="{{ play ? gif.image.file : gif.image.thumb | trust }}"
	        		>
	        		<md-button 
	        			aria-label="Play"
			        	class="md-fab md-mini md-accent" 
			        	ng-init="play = false"
			        	ng-click="play = !play">
			            <md-icon ng-hide="play" class="mdi mdi-play"></md-icon>
			            <md-icon ng-show="play" class="mdi mdi-pause"></md-icon>
			        </md-button>
	        	</div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ gif.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Destaque:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ gif.highlight == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    <div ng-if="gif.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ gif.author.avatar }});"></div> {{ gif.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ gif.author.email }}">{{ gif.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ gif.created_at | datetime }}">
	        			Criado em: {{ gif.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ gif.updated_at | datetime }}" ng-if="gif.created_at != gif.updated_at">
	        			Alterado em: {{ gif.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.gif-show h1 {
		margin: 0;
	}
	
	.gif-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	
	
	.gif-show .content-right div {
		vertical-align: middle;
	}
	
	.gif-show .content-right p {
		margin: 0;
	}
	
	.gif-show .content-image .md-button {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.gif-show .line {
		margin: 15px 0;
	}
	
	
	.gif-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	

	@media screen and (max-width: 600px) {
	    
	    .gif-show .content-left {
	    	text-align: left;
	    }
	}
</style>