<md-content 
	class="gif-store"
    layout="row"
    layout-fill 
    layout-padding>
    <form name="gifForm" ng-submit="submit()" layout="column" flex flex-gt-sm="50">
    	<h1 class="md-display-1">
    		Novo Gif:
    	</h1>           
		<md-input-container flex="none">
    		<label>Titulo:</label>
			<input 
				md-autofocus
				name="gif_title"
				type="text"
				ng-model="gif.title"
				autocorrect="off"
				autocapitalize="words"
				md-maxlength="100"
				required />
			<div ng-messages="gifForm.gif_title.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 100 caracteres.</div>
			</div>
		</md-input-container>
        <md-input-container flex="none" style="position: relative;">
        	<input 
        		id="fileInput" 
        		class="ng-hide" 
        		type="file" 
        		aria-label="Upload"
        		file-input-change="chooseImageInput($event)" />
	    	<div 
        		flex
        		scale-image="52"
        		src="{{ gif.image.file | trust }}"
        		ng-click="chooseImage()"></div>
    		<div style="position: absolute; right: 0; top: 0;" layout="row">
	        	<md-button class="md-fab md-mini md-primary" ng-click="chooseImage()">
	        		<md-icon class="mdi mdi-image"></md-icon>
	        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
	        	</md-button>
    			<md-button ng-show="gif.image" class="md-fab md-mini md-warn" ng-click="removeImage()">
	        		<md-icon class="mdi mdi-close"></md-icon>
	        		<md-tooltip md-direction="right">Remover Imagem</md-tooltip>
	        	</md-button>
    		</div>
    		<p class="hint">Somente imagem com no máximo 1000 pixels de largura.</p>
	    </md-input-container>
	    <md-switch 
	     flex="none"
	    	class="md-primary" 
	    	ng-model="gif.enabled" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="gif.enabled = gif.enabled == null ? 1 : gif.enabled"
	    	aria-label="Ativo">
			Ativo: {{ gif.enabled == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <md-switch 
	     flex="none"
	    	class="md-primary" 
	    	ng-model="gif.highlight" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="gif.highlight = gif.highlight == null ? 0 : gif.highlight"
	    	aria-label="Ativo">
			Destaque: {{ gif.highlight == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <input type="submit" hidden ng-disabled="gifForm.$invalid">
	    <p class="muted text-right"><em><small>( * ) Campo obrigatório.</small></em></p>
		<md-button
			ng-disabled="gifForm.$invalid"
			style="margin: 0;"
			class="md-raised md-primary"
			ng-click="submit()">
			Salvar
		</md-button>
		<div flex="none" style="height: 30px;"></div>
    </form>
</md-content>