<md-dialog class="image-crop-dialog">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>IMAGEM</h2>
			<span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancelar">
	        	<md-icon class="mdi mdi-close"></md-icon>
	        </md-button>
		</div>
    </md-toolbar>
	<md-dialog-content layout="column" flex>
		<div flex class="md-dialog-content" layout="column" layout-align="center center" style="min-height: 200px; min-width: 300px;">
			<div flex="none">
	    		<input 
	    			id="fileInputModal" 
	    			class="ng-hide" 
	    			type="file" 
	    			accept="image/*" 
	    			file-input-change="fileInputChange($event)" />
				<label for="fileInputModal" class="md-button md-raised md-primary">
					<md-icon class="mdi mdi-magnify"></md-icon>
					Procurar
				</label>
			</div>
	    	<ng-croppie
	    		flex="none"
	    		ng-show="inputImage"
				src="inputImage"
				ng-model='outputImage'
				boundry="{w: 1100, h: 600}"
				viewport="{w: 897, h: 432}"
				orientation="true"
				enableResize="true"
				rotation="90"
				mouseZoom="false"
				type="square">
			</ng-croppie>
		</div>
	</md-dialog-content>
    <md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
		<md-button class="md-raised md-primary" ng-click="upload()" ng-show="inputImage">
			<md-icon class="mdi mdi-cloud-upload"></md-icon>
			Enviar
		</md-button>
    </md-dialog-actions>
</md-dialog>
<style type="text/css">
	md-dialog.image-crop-dialog {
	    max-width: 90%;
	    max-height: 90%;
	    width: 90%;
	    height: 90%;
	    border-radius: 0;
	}
</style>