<md-button 
    ui-sref="highlightStore"
    class="md-fab md-accent md-fab-top-right"
    aria-label="Criar Destaque">
    <md-icon class="mdi mdi-plus"></md-icon>
    <md-tooltip md-direction="left">
        Criar Destaque
    </md-tooltip>
</md-button>
<md-content
    layout-fill 
    layout="column"
    class="highlight-index"
    when-scrolled="index(false)"
    layout-padding>
    <h1 class="md-display-1">
		Destaques <small ng-show="total >= 0">(total: {{ total | zeroPad:2 }})</small>:
	</h1>
    <form 
        flex="none" 
        layout="column" 
        layout-gt-sm="row"
        layout-align="end start"
        layout-align-gt-sm="end center"
        class="filter-container" 
        ng-submit="index(true)">
        <input type="submit" style="display: none;">
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Pesquisar...</label>
            <input
                type="search"
                ng-model="filter.quote"
                autocorrect="off"
                autocapitalize="words"
                md-maxlength="50"
                ng-change="index(true)"
                ng-model-options='{ debounce: 1000 }'/>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Status:</label>
            <md-select ng-model="filter.enabled" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Ativos
                </md-option>
                <md-option ng-value="0">
                    Desativados
                </md-option>
            </md-select>
        </md-input-container>
    </form>
    <md-list flex>
        <md-list-item aria-label="Nenhum resultado." ng-show="highlights.length == 0 && !loading">
            <div class="md-list-item-text" flex layout="row" layout-align="center center">
                Nenhum item encontrado.
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="highlight in highlights" ui-sref="highlightShow({ id : highlight.id })">
            <div style="margin-right: 10px;">
                #{{ highlight.id | zeroPad:4 }}
            </div>
            <div flex="none" class="thumb" style="background-image: url({{ highlight.image.thumb | trust }});"></div>
            <div class="md-list-item-text" layout="column">
                <h3>{{ highlight.title }}</h3>
                <h4>{{ highlight.created_at | datetime }}</h4>
            </div>
            <div class="md-secondary" layout="row" layout-align="center center">
                <div hide-xs style="width: 100px;"><span class="muted">Ativo:</span> {{ highlight.enabled == 1 ? 'SIM':'NÃO' }}</div>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ui-sref="highlightUpdate({ id : highlight.id })">Editar</md-button>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ng-click="delete(highlight)">Excluir</md-button>
            </div>
        </md-list-item>
        <div
            layout="row"
            layout-padding
            aria-label="Paginação"
            layout-align="center center"
            md-colors="{background: 'accent-100-0.2'}" 
            ng-style="{ opacity: loading ? 1 : 0 }">
            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="30" 
                class="md-accent"></md-progress-circular>
        </div>
    </md-list>
</md-content>
<style type="text/css">
    .highlight-index .thumb {
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 15px;
    }
</style>