<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="highlightUpdate({ id:highlight.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="highlightStore">
            <md-tooltip md-direction="left">
                Novo
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>        
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="highlight-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Destaque
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ highlight.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ highlight.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Descrição:</strong>
	        </div>
	        <div flex class="content-right">
	        	<p ng-bind-html="highlight.note | trust"></p>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	<div 
	        		flex
	        		scale-image="52"
	        		src="{{ highlight.image.file | trust }}"></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ highlight.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    
	    <div ng-if="highlight.attachable">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-headline">
				    	Anexo
				    </h1>
		        </div>
		        <div flex class="content-right">
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>ID:</strong>
		        </div>
		        <div flex class="content-right muted">
		        	#{{ highlight.attachable.id | zeroPad:4 }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>Título:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a 	
		        		class="pointer" 
		        		ng-click="goAttach(highlight.attachable_type, highlight.attachable_id)">
		        		{{ highlight.attachable.title }} 
		        		<md-icon class="mdi mdi-share" md-colors="{ color : 'primary' }"></md-icon>
		        	</a>
		        </div>
		    </div>
	    </div>
	    <div ng-if="highlight.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ highlight.author.avatar }});"></div> {{ highlight.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ highlight.author.email }}">{{ highlight.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ highlight.created_at | datetime }}">
	        			Criado em: {{ highlight.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ highlight.updated_at | datetime }}" ng-if="highlight.created_at != highlight.updated_at">
	        			Alterado em: {{ highlight.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.highlight-show h1 {
		margin: 0;
	}
	
	.highlight-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	
	
	.highlight-show .content-right div {
		vertical-align: middle;
	}
	
	.highlight-show .content-right p {
		margin: 0;
	}
	
	.highlight-show .line {
		margin: 15px 0;
	}
	
	
	.highlight-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	

	@media screen and (max-width: 600px) {
	    .highlight-show .content-left {
	    	text-align: left;
	    }
	}
</style>