<md-content 
	class="highlight-store"
    layout="row"
    layout-fill 
    layout-padding>
    <div layout="column" flex flex-gt-sm="50">
	    <form flex="none" layout="column" name="highlightForm" ng-submit="submit()">
	    	<h1 class="md-display-1">
	    		Novo Destaque:
	    	</h1>            
			<md-input-container flex="none">
	    		<label>Titulo:</label>
				<input 
					md-autofocus
					name="highlight_title"
					type="text"
					ng-model="highlight.title"
					autocorrect="off"
					autocapitalize="words"
					md-maxlength="100"
					required />
				<div ng-messages="highlightForm.highlight_title.$error">
					<div ng-message="required">Este campo é obrigatório.</div>
					<div ng-message="md-maxlength">O título deve ter até 100 caracteres.</div>
				</div>
			</md-input-container>
			<md-input-container flex="none">
	            <label>Descrição:</label>
	            <textarea 
	            	name="highlight_note" 
	            	md-maxlength="5000" 
	            	required
	            	rows="3" 
	            	ng-model="highlight.note">
	            </textarea>
				<div ng-messages="highlightForm.highlight_note.$error">
					<div ng-message="required">Este campo é obrigatório.</div>
					<div ng-message="md-maxlength">O título deve ter até 5000 caracteres.</div>
				</div>
	        </md-input-container>
	        <md-input-container flex="none" style="position: relative;">
		    	<div
	        		scale-image="48"
	        		class="image pointer"
	        		src="{{ highlight.image.file | trust }}"
	        		ng-click="imageCropDialog()"></div>
	    		<div style="position: absolute; right: 0; top: 0;" layout="row">
		        	<md-button class="md-fab md-mini md-primary" ng-click="imageCropDialog()">
		        		<md-icon class="mdi mdi-image"></md-icon>
		        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
		        	</md-button>
	    			<md-button ng-show="highlight.image" class="md-fab md-mini md-warn" ng-click="removeImage()">
		        		<md-icon class="mdi mdi-close"></md-icon>
		        		<md-tooltip md-direction="right">Remover Imagem</md-tooltip>
		        	</md-button>
	    		</div>
		    </md-input-container>
		    <md-switch 
		     	flex="none"
		    	class="md-primary" 
		    	ng-model="highlight.enabled" 
		    	ng-true-value="1" 
		    	ng-false-value="0" 
		    	ng-init="highlight.enabled = highlight.enabled == null ? 1 : highlight.enabled"
		    	aria-label="Ativo">
				{{ highlight.enabled == 1 ? 'Ativo':'Não Ativo' }}
			</md-switch>
	    </form>
        <h1 class="md-headline">
        	Anexo:
        </h1>
        <form flex="none" layout="row" ng-submit="checkAttachment()">
        	<input type="submit" style="display: none;">
        	<md-input-container flex class="no-errors-spacer">
	            <label>Tipo:</label>
	            <md-select name="highlight_attachment_type" required ng-model="highlight.attachment_type_id" ng-change="checkAttachment()">
	                <md-option><em>Escolha...</em></md-option>
	                <md-option ng-repeat="attachment_type in attachment_types" ng-if="attachment_type.id != 1" ng-value="attachment_type.id">
	                    {{ attachment_type.name }}
	                </md-option>
	            </md-select>
				<div ng-messages="highlightForm.highlight_attachment_type.$error">
					<div ng-message="required">Este campo é obrigatório.</div>
				</div>
	        </md-input-container>
	    	<md-input-container flex class="no-errors-spacer">
	    		<label>#ID:</label>
				<input 
					name="highlight_attachment" 
					type="text" 
					int-format="11"
					ng-model="highlight.attachment_id"
					maxlength="100" 
					autocorrect="off"
					autocapitalize="words"
					ng-change="checkAttachment()"
        			ng-model-options='{ debounce: 1000 }'
					required />
				<div ng-messages="highlightForm.highlight_attachment.$error">
					<div ng-message="required">Este campo é obrigatório.</div>
				</div>
			</md-input-container>
        </form>
		<div flex="none" class="muted" ng-show="check_attachment">
			<small ng-show="check_attachment.status == 'success'" md-colors="{ color: 'primary' }">
				Anexo: {{ check_attachment.attachment.title }}
			</small>
			<small ng-show="check_attachment.status == 'error'" md-colors="{ color: 'warn' }">
				{{ check_attachment.message }}
			</small>
		</div>
	    <input type="submit" hidden ng-disabled="highlightForm.$invalid">
	    <p class="muted text-right"><em><small>( * ) Campo obrigatório.</small></em></p>
		<md-button
			ng-disabled="highlightForm.$invalid"
			style="margin: 0;"
			class="md-raised md-primary"
			ng-click="submit()">
			Salvar
		</md-button>
		<div flex="none" style="height: 30px;"></div>	
	</div>
</md-content>