<md-content 
	class="app-logo-store"
    layout="row"
    layout-fill 
    layout-padding>
    <div layout="column" flex style="max-width: 500px;">
    	<h1 class="md-display-1">
    		Atualizar Logo:
    	</h1>
		<md-input-container flex="none" style="position: relative;">
        	<input 
        		id="fileInput" 
        		class="ng-hide" 
        		type="file" 
        		aria-label="Upload"
        		file-input-change="chooseImageInput($event)" />
	    	<div 
        		flex
        		scale-image="50"
        		src="{{ app_logo | trust }}"
        		ng-click="chooseImage()"></div>
    		<div style="position: absolute; right: 0; top: 0;" layout="row">
	        	<md-button class="md-fab md-mini md-primary" ng-click="chooseImage()">
	        		<md-icon class="mdi mdi-image"></md-icon>
	        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
	        	</md-button>
    		</div>
	    </md-input-container>
    </div>
</md-content>