<div layout="row" layout-align="start center" md-colors="{background: 'primary'}" layout-padding>
    <md-button 
        aria-label="Menu"
        ng-if="account && backPage == undefined"
        hide-gt-md 
        class="md-icon-button"
        md-colors="{ color:'primary-50' }"
        ng-click="toggleMenu()">
        <i class="mdi mdi-menu"></i>
    </md-button>
    <h2 flex="none">HISTORY APP GUIA PI<span hide-xs> - CMS</span></h2>
    <div flex hide-xs></div>
    <div flex="none" hide-sm hide-xs ng-if="account">
        <span>Olá, {{ account.name }}</span>
        <span class="pointer" ng-click="logout()">(Sair)</span>
    </div>
</div>