<md-sidenav
    md-component-id="left"
    class="md-sidenav-left"
    md-is-locked-open="$mdMedia('gt-md')"
    layout="column">
    <div flex="none" layout="column" layout-align="center center" md-colors="{background: 'primary'}" hide-gt-md>
        <h1 class="md-display-1">HISTORY</h1>
    </div>
    <md-content layout-gt-md="row" layout="column" layout-align="start start">
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="highlightIndex">
            Destaques
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="videoIndex">
            Videos
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="playlistIndex">
            Playlist
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="gifIndex">
            Galeria de Gifs
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="curiosityIndex">
            Hoje na História
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="articleIndex">
            Artigos
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="serieIndex">
            Séries
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="institutionalIndex">
            Notificações Institucionais
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="userIndex">
            Usuários
        </md-button>
        <md-button layout="row" layout-align="start start" ui-sref-active-eq="active" ui-sref="appLogoStore">
            Logo
        </md-button>
    </md-content>
</md-sidenav>