<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="videoUpdate({ id:video.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="videoStore">
            <md-tooltip md-direction="left">
                Novo
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>        
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="video-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Vídeo
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ video.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ video.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Vídeo:</strong>
	        </div>
	        <div flex class="content-right">
	        	<a ng-if="video.embed.indexOf('http') == 0" href="{{ video.embed }}" target="_blank">
	        		{{ video.embed }}
	        		<md-icon class="mdi mdi-play-circle-outline" md-colors="{ color : 'primary' }"></md-icon>
	        	</a>
	        	<div ng-if="video.embed.indexOf('http') != 0" ng-bind-html="video.embed | trust"></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	<div 
	        		flex
	        		scale-image="48"
	        		src="{{ video.image.file | trust }}"></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Oficial:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ video.official == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ video.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    <div ng-if="video.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ video.author.avatar }});"></div> {{ video.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ video.author.email }}">{{ video.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ video.created_at | datetime }}">
	        			Criado em: {{ video.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ video.updated_at | datetime }}" ng-if="video.created_at != video.updated_at">
	        			Alterado em: {{ video.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.video-show h1 {
		margin: 0;
	}
	
	.video-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	
	
	.video-show .content-right div {
		vertical-align: middle;
	}
	
	.video-show .content-right p {
		margin: 0;
	}
	
	.video-show .line {
		margin: 15px 0;
	}
	
	
	.video-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	

	@media screen and (max-width: 600px) {
	    
	    .video-show .content-left {
	    	text-align: left;
	    }
	}
</style>