<md-content 
	class="video-store"
    layout="row"
    layout-fill 
    layout-padding>
    <form name="videoForm" ng-submit="submit()" layout="column" flex flex-gt-sm="50">
    	<h1 class="md-display-1">
    		Novo Vídeo:
    	</h1>
    		            
		<md-input-container flex="none">
    		<label>Titulo:</label>
			<input 
				md-autofocus
				name="video_title"
				type="text"
				ng-model="video.title"
				autocorrect="off"
				autocapitalize="words"
				md-maxlength="100"
				required/>
			<div ng-messages="videoForm.video_title.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 100 caracteres.</div>
			</div>
		</md-input-container>
		
		<md-input-container flex="none">
    		<label>Vídeo:</label>
			<input 
				name="video_embed"
				type="text"
				ng-model="video.embed"
				autocorrect="off"
				md-maxlength="300"
				required />
			<div ng-messages="videoForm.video_embed.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">Não deve conter mais que 100 caracteres.</div>
			</div>
		</md-input-container>
		
        <md-input-container flex="none" style="position: relative;">	    	
        	<div 
        		flex
        		scale-image="48"
        		src="{{ video.image.file | trust }}"
        		ng-click="imageCropDialog()"></div>
    		<div style="position: absolute; right: 0; top: 0;" layout="row">
	        	<md-button class="md-fab md-mini md-primary" ng-click="imageCropDialog()">
	        		<md-icon class="mdi mdi-image"></md-icon>
	        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
	        	</md-button>
    			<md-button ng-show="video.image" class="md-fab md-mini md-warn" ng-click="removeImage()">
	        		<md-icon class="mdi mdi-close"></md-icon>
	        		<md-tooltip md-direction="right">Remover Imagem</md-tooltip>
	        	</md-button>
    		</div>
	    </md-input-container>
	    <md-switch 
	    	flex="none"
	    	class="md-primary" 
	    	ng-model="video.official" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="video.official = video.official == null ? 1 : video.official"
	    	aria-label="Ativo">
			{{ video.official == 1 ? 'Oficial':'Não Oficial' }}
		</md-switch>
	    <md-switch 
	    	flex="none"
	    	class="md-primary" 
	    	ng-model="video.enabled" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="video.enabled = video.enabled == null ? 1 : video.enabled"
	    	aria-label="Ativo">
			{{ video.enabled == 1 ? 'Ativo':'Não Ativo' }}
		</md-switch>
	    <input type="submit" hidden ng-disabled="videoForm.$invalid">
	    <p class="muted text-right"><em><small>( * ) Campo obrigatório.</small></em></p>
		<md-button
			ng-disabled="videoForm.$invalid"
			style="margin: 0;"
			class="md-raised md-primary"
			ng-click="submit()">
			Salvar
		</md-button>
		<div flex="none" style="height: 30px;"></div>
    </form>
</md-content>