<md-content
    layout-fill 
    layout="column"
    class="user-index"
    layout-padding
    when-scrolled="index(false)">
    <h1 class="md-display-1">
		Usuarios <small ng-show="total >= 0">(total: {{ total | zeroPad:2 }})</small>:
	</h1>
    <form
        id="filterForm"
        class="filter-container"
        flex="none"
        layout="row"
        layout-align="end center"
        layout-padding
        ng-submit="index(true)">
        <input type="submit" style="display: none;">
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Pesquisar...</label>
            <input
                type="search"
                ng-model="filter.quote"
                autocorrect="off"
                autocapitalize="words"
                md-maxlength="50"
                ng-change="index(true)"
                ng-model-options='{ debounce: 1000 }'/>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Status:</label>
            <md-select ng-model="filter.enabled" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Ativos
                </md-option>
                <md-option ng-value="0">
                    Desativados
                </md-option>
            </md-select>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Administrador:</label>
            <md-select ng-model="filter.admin" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Administrador
                </md-option>
                <md-option ng-value="0">
                    Não Administrador
                </md-option>
            </md-select>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container class="no-errors-spacer">
            <label>De:</label>
            <md-datepicker 
                ng-model="filter.init" 
                name="filter_init" 
                md-hide-icons="calendar"
                date-format></md-datepicker>
        </md-input-container>
        <md-input-container class="no-errors-spacer">
            <label>Até:</label>
            <md-datepicker 
                ng-model="filter.end" 
                name="filter_end" 
                md-hide-icons="calendar"
                date-format></md-datepicker>
        </md-input-container>
        <div>
            <md-button class="md-icon-button md-primary" ng-click="index(true)" ng-show="filter.init || filter.end">
                <md-icon class="mdi mdi-filter"></md-icon>
                <md-tooltip md-direction="bottom">
                    Filtrar
                </md-tooltip>
            </md-button>
        </div>
    </form>
    <md-list flex>
        <md-list-item aria-label="Nenhum resultado." ng-if="users.length == 0 && !loading">
            <div class="md-list-item-text" flex layout="row" layout-align="center center">
                Nenhum item encontrado.
            </div>
        </md-list-item>
        <md-list-item
            ng-repeat="user in users" 
            ui-sref="userShow({ id : user.id })"
            class="md-2-line"
            ng-class="account.id == user.id ? 'myself' : 'someone'">
            <div style="margin-right: 10px;">
                #{{ user.id | zeroPad:4 }}
            </div>
            <div flex="none" class="thumb" style="background-image: url({{ user.avatar }});"></div>
            <div class="md-list-item-text" layout="column">
                <h3>{{ user.name }}</h3>
                <h4>{{ user.created_at | datetime }}</h4>
            </div>
            <div class="md-secondary" layout="row" layout-align="center center">
                <div hide-xs style="width: 100px;"><span class="muted">Admin:</span> {{ user.admin == 1 ? 'SIM':'NÃO' }}</div>
                <div hide-xs style="width: 100px;"><span class="muted">Ativo:</span> {{ user.enabled == 1 ? 'SIM':'NÃO' }}</div>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ng-click="delete(user)">Excluir</md-button>
            </div>
        </md-list-item>
        <div
            layout="row"
            layout-padding
            aria-label="Paginação"
            layout-align="center center"
            md-colors="{background: 'accent-100-0.2'}" 
            ng-style="{ opacity: loading ? 1 : 0 }">
            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="30" 
                class="md-accent"></md-progress-circular>
        </div>
    </md-list>
    
</md-content>
<style type="text/css">
    .user-index md-list-item .thumb {
        width: 70px;
        height: 70px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 15px;
        border-radius: 100px;
        border: 1px solid rgba(0,0,0,.3);
    }
    
    .user-index .myself {
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.01);
    }
    
    .user-index .myself .thumb {
        width: 100px;
        height: 100px;
    }
    
    .user-index  .filter-author .md-label {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .user-index md-input-container {
        margin: 20px 0 0;
    }
    
    .user-index .filter-container {
        border: 0 !important;
    }
</style>