<md-content 
	class="user-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div ng-show="user" flex-gt-sm="80" flex-gt-md="70" flex layout="column">
    	<div flex="none" class="avatar"></div>
    	<h1 class="md-display-3" style="margin-bottom: 10px;">{{ user.name }}</h1>
    	<div flex="none" style="margin-bottom: 30px;"><a class="muted" href="mailto:{{ user.email }}">{{ user.email }}</a></div>
    	<md-switch
    		ng-change="update()" 
	     	flex="none"
	    	class="md-primary" 
	    	ng-model="user.enabled" 
	    	ng-true-value="1" 
	    	ng-false-value="0"
	    	aria-label="Ativo">
			Ativo: {{ user.enabled == 1 ? 'SIM':'NÃO' }}
		</md-switch>
    	<md-switch
    		ng-change="update()" 
    		style="margin-top: 0"
	     	flex="none"
	    	class="md-primary" 
	    	ng-model="user.admin" 
	    	ng-true-value="1" 
	    	ng-false-value="0"
	    	aria-label="Admin">
			Administrador: {{ user.admin == 1 ? 'SIM':'NÃO' }}
		</md-switch>
		<div flex="none" layout="row" layout-align="space-between none">
    		<small title="{{ user.created_at | datetime }}">
    			Criado em: {{ user.created_at | datetime:'DD/MM/YYYY' }}
    		</small>
    		<small title="{{ user.updated_at | datetime }}" ng-if="user.created_at != user.updated_at">
    			Alterado em: {{ user.updated_at | datetime:'DD/MM/YYYY' }}
    		</small>
    	</div>
    	<div flex="none" style="height: 50px;"></div>
    	<md-button flex="none" aria-label="Excluir" style="margin:0;" class="md-raised md-warn" ng-click="delete()">
    		<md-icon class="mdi mdi-delete"></md-icon>
    		Excluir
    	</md-button>
	</div>
</md-content>
<style type="text/css">
	.user-show .avatar {
		width: 200px;
		height: 200px;
		background: rgba(0,0,0,.3) url({{ user.avatar }}) no-repeat center center;
		background-size: cover;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 1000px;
	}
</style>