<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover "Hoje na História"
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="curiosityUpdate({ id:curiosity.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar "Hoje na História"
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="curiosityStore">
            <md-tooltip md-direction="left">
                Novo "Hoje na História"
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>    
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="curiosity-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Hoje na História
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ curiosity.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ curiosity.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Data:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ curiosity.conveyed_at | datetime:'lll' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	<div 
	        		flex
	        		scale-image="48"
	        		src="{{ curiosity.image.file | trust }}"
	        		></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Descrição:</strong>
	        </div>
	        <div flex class="content-right">
	        	<p ng-bind-html="curiosity.note | trust"></p>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ curiosity.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Destaque:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ curiosity.highlight == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    <div ng-if="curiosity.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ curiosity.author.avatar }});"></div> {{ curiosity.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ curiosity.author.email }}">{{ curiosity.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ curiosity.created_at | datetime }}">
	        			Criado em: {{ curiosity.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ curiosity.updated_at | datetime }}" ng-if="curiosity.created_at != curiosity.updated_at">
	        			Alterado em: {{ curiosity.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.curiosity-show h1 {
		margin: 0;
	}
	
	.curiosity-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	
	
	.curiosity-show .content-right div {
		vertical-align: middle;
	}
	
	.curiosity-show .content-right p {
		margin: 0;
	}
	
	.curiosity-show .line {
		margin: 15px 0;
	}
	
	.curiosity-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	

	@media screen and (max-width: 600px) {
	    
	    .curiosity-show .content-left {
	    	text-align: left;
	    }
	}
</style>