<md-content 
	class="serie-in-store"
    layout="row"
    layout-fill 
    layout-padding>
    <form name="serieForm" ng-submit="submit(true)" layout="column" flex flex-gt-sm="50">
    	<h1 class="md-display-1">
    		Alterar Serie:
    	</h1>           
		<md-input-container flex="none">
    		<label>Titulo:</label>
			<input 
				md-autofocus
				name="serie_title"
				type="text"
				ng-model="serie.title"
				autocorrect="off"
				autocapitalize="words"
				md-maxlength="100"
				required />
			<div ng-messages="serieForm.serie_title.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 100 caracteres.</div>
			</div>
		</md-input-container>
		<md-input-container flex="none" style="margin-bottom: 0; max-width: 300px;">
	        <label>Data:</label>
	        	<input 
	        		required
		        	mdc-datetime-picker 
					type="text"
		        	edit-input="true"
		        	show-icon="true"
					placeholder="Ex.: 01/01/2000 12:30"  
					date-time-format
					format="DD/MM/YYYY HH:mm"
					click-outside-to-close="true"
					ng-model="serie.conveyed_at" 
					name="serie_conveyed_at">
			<div ng-messages="serieForm.serie_conveyed_at.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
			</div>
	    </md-input-container>
        <md-input-container flex="none" style="position: relative;">
	        <div 
        		flex
        		scale-image="48"
        		src="{{ serie.image.file | trust }}"
        		ng-click="imageCropDialog()"></div>
    		<div style="position: absolute; right: 0; top: 0;" layout="row">
	        	<md-button class="md-fab md-mini md-primary" ng-click="imageCropDialog()">
	        		<md-icon class="mdi mdi-image"></md-icon>
	        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
	        	</md-button>
    		</div>
	    </md-input-container>
		<md-input-container flex="none">
            <label>Descrição:</label>
            <textarea 
            	name="serie_note" 
            	md-maxlength="5000" 
            	required
            	rows="3" 
            	ng-model="serie.note">
            </textarea>
			<div ng-messages="serieForm.serie_note.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 5000 caracteres.</div>
			</div>
        </md-input-container>
        <div flex="none" layout="row" layout-wrap>
        	<input 
        		id="fileInput"
        		class="ng-hide" 
        		type="file"
        		aria-label="Upload"
        		file-input-change="chooseImageInput($event)" />
        	<div
        		class="image_of_notes" 
        		ng-repeat="image_of_note in serie.image_of_notes">
        		<div 
        			class="body" 
        			style="background-image: url({{ image_of_note.thumb | trust }});" 
        			>
        			<div flex layout="row" layout-align="end start">
		    			<md-button
		    				class="md-fab md-mini md-warn" 
		    				ng-click="removeImageOfNote(image_of_note)">
			        		<md-icon class="mdi mdi-close"></md-icon>
			        		<md-tooltip md-direction="right">Remover Imagem</md-tooltip>
			        	</md-button>
        			</div>
        		</div>
        	</div>
        	<div class="image_of_notes pointer" ng-click="chooseImage()"><div class="body"></div></div>
        </div>
        <p class="hint">Somente imagem com no máximo 1000 pixels de largura.</p>
	    <md-switch 
	     	flex="none"
	    	class="md-primary" 
	    	ng-model="serie.enabled" 
	    	ng-true-value="1" 
	    	ng-false-value="0"
	    	aria-label="Ativo">
			Ativo: {{ serie.enabled == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <md-switch 
	     	flex="none"
	    	class="md-primary" 
	    	ng-model="serie.highlight" 
	    	ng-true-value="1" 
	    	ng-false-value="0"
	    	aria-label="Ativo">
			Destaque: {{ serie.highlight == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <input type="submit" hidden ng-disabled="serieForm.$invalid">
	    <p class="muted text-right"><em><small>( * ) Campo obrigatório.</small></em></p>
		<md-button
			ng-disabled="serieForm.$invalid"
			style="margin: 0;"
			class="md-raised md-primary"
			ng-click="submit(true)">
			Salvar
		</md-button>
		<div flex="none" style="height: 30px;"></div>
    </form>
</md-content>