<md-button 
    ui-sref="playlistStore"
    class="md-fab md-accent md-fab-top-right"
    aria-label="Criar Playlist">
    <md-icon class="mdi mdi-plus"></md-icon>
    <md-tooltip md-direction="left">
        Criar Playlist
    </md-tooltip>
</md-button>
<md-content
    layout-fill 
    layout="column"
    class="playlist-index"
    layout-padding
    when-scrolled="index(false)">
    <h1 class="md-display-1">
		Playlists <small ng-show="total >= 0">(total: {{ total | zeroPad:2 }})</small>:
	</h1>
    <form 
        flex="none" 
        layout="column" 
        layout-gt-sm="row"
        layout-align="end start"
        layout-align-gt-sm="end center"
        class="filter-container" 
        ng-submit="index(true)">
        <input type="submit" style="display: none;">
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Pesquisar...</label>
            <input
                type="search"
                ng-model="filter.quote"
                autocorrect="off"
                autocapitalize="words"
                md-maxlength="50"
                ng-change="index(true)"
                ng-model-options='{ debounce: 1000 }'/>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Status:</label>
            <md-select ng-model="filter.enabled" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Ativos
                </md-option>
                <md-option ng-value="0">
                    Desativados
                </md-option>
            </md-select>
        </md-input-container>
        <div class="divider"></div>
        <md-input-container flex="none" class="no-errors-spacer">
            <label>Destaques:</label>
            <md-select ng-model="filter.highlight" ng-change="index(true)">
                <md-option ng-value=""><em>Escolha...</em></md-option>
                <md-option ng-value="1">
                    Destaques
                </md-option>
                <md-option ng-value="0">
                    Não Destaques
                </md-option>
            </md-select>
        </md-input-container>
        <div class="divider"></div>
        <md-radio-group
            layout="column" 
            layout-gt-sm="row"
            layout-align="end start"
            layout-align-gt-sm="end center"
            class="filter-author md-primary"
            ng-model="filter.author"
            layout-padding
            ng-change="index(true)">
            <md-radio-button value="0">TODOS</md-radio-button>
            <md-radio-button value="1">OFICIAIS</md-radio-button>
            <md-radio-button value="2">USUÁRIOS</md-radio-button>
            <md-radio-button value="3">MINHAS PLAYLISTS</md-radio-button>
        </md-radio-group>
    </form>
    <md-list flex>
        <md-list-item aria-label="Nenhum resultado." ng-if="playlists.length == 0 && !loading">
            <div class="md-list-item-text" flex layout="row" layout-align="center center">
                Nenhum item encontrado.
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="playlist in playlists" ui-sref="playlistShow({ id : playlist.id })">
            <div style="margin-right: 10px;">
                #{{ playlist.id | zeroPad:4 }}
            </div>
            <div flex="none" class="thumb">
                <div style="background-image: url({{ playlist.image.thumb | trust }});"></div>
            </div>
            <div class="md-list-item-text" layout="column">
                <h3>{{ playlist.title }}</h3>
                <h4>{{ playlist.created_at | datetime }}</h4>
            </div>
            <div class="md-secondary" layout="row" layout-align="center center">
                <div hide-sm style="width: 150px;"><span class="muted">Destaque:</span> {{ playlist.highlight == 1 ? 'SIM':'NÃO' }}</div>
                <div hide-xs style="width: 100px;"><span class="muted">Ativo:</span> {{ playlist.enabled == 1 ? 'SIM':'NÃO' }}</div>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ui-sref="playlistUpdate({ id : playlist.id })">Editar</md-button>
                <md-button style="width: 100px;" hide-sm hide-xs class="md-raised" ng-click="delete(playlist)">Excluir</md-button>
            </div>
        </md-list-item>
        <div
            layout="row"
            layout-padding
            aria-label="Paginação"
            layout-align="center center"
            md-colors="{background: 'accent-100-0.2'}" 
            ng-style="{ opacity: loading ? 1 : 0 }">
            <md-progress-circular 
                md-mode="indeterminate" 
                md-diameter="30" 
                class="md-accent"></md-progress-circular>
        </div>
    </md-list>
    
</md-content>
<style type="text/css">
    .playlist-index md-list-item .thumb {
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('img/playlist_thumb_avatar.jpg');
        margin-right: 15px;
        border: 1px solid rgba(0,0,0,.1);
        padding: 0;
    }
    
    .playlist-index md-list-item .thumb div {
        width: 100%;
        height: 100%;
        margin: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .playlist-index  .filter-author .md-label {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>