<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-accent">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
        	class="md-fab md-mini md-warn" 
        	ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                Remover Playlist
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="playlistUpdate({ id:playlist.id })"
            class="md-fab md-mini md-accent"
            aria-label="Button">
            <md-tooltip md-direction="left">
                Atualizar Playlist
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button> 
        <md-button 
            class="md-fab md-mini md-accent"
            aria-label="Button"
            ui-sref="playlistStore">
            <md-tooltip md-direction="left">
                Nova Playlist
            </md-tooltip>
            <md-icon class="mdi mdi-plus"></md-icon>
        </md-button>  
        <md-button 
            class="md-fab md-mini md-primary"
            aria-label="Button"
            ng-click="videos()">
            <md-tooltip md-direction="left">
                Playlist Vídeos
            </md-tooltip>
            <md-icon class="mdi mdi-playlist-check"></md-icon>
        </md-button>        
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
	class="playlist-show"
    layout="row"
    layout-fill 
    layout-padding>
    <div flex-gt-sm="80" flex-gt-md="70" flex layout="column">
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
				<h1 class="md-display-1">
					Playlist
				</h1>
	        </div>
	        <div flex class="content-right"></div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>ID:</strong>
	        </div>
	        <div flex class="content-right muted">
	        	#{{ playlist.id | zeroPad:4 }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Título:</strong>
	        </div>
	        <div flex class="content-right">
	        	{{ playlist.title }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Descrição:</strong>
	        </div>
	        <div flex class="content-right">
	        	<p ng-bind-html="playlist.note | trust"></p>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Imagem:</strong>
	        </div>
	        <div flex class="content-right">
	        	<div 
	        		flex
	        		scale-image="48"
	        		src="{{ playlist.image.file | trust }}"></div>
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Oficial:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ playlist.official == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Ativo:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ playlist.enabled == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
		<div flex="none" class="line" layout="row" layout-xs="column">
	        <div class="content-left">
	        	<strong>Destaque:</strong>
	        </div>
	        <div flex class="content-right" layout="row">
	        	{{ playlist.highlight == 1 ? 'SIM':'NÃO' }}
	        </div>
	    </div>
	    <div ng-if="playlist.author" class="muted">
	    	<hr style="border: 1px solid rgba(0,0,0,.1)">
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
				    <h1 class="md-title">
				    	Autoria
				    </h1>
		        </div>
		        <div flex class="content-right">
		        	<div class="avatar" style="background-image: url({{ playlist.author.avatar }});"></div> {{ playlist.author.name }}
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left">
		        	<strong>E-mail:</strong>
		        </div>
		        <div flex class="content-right">
		        	<a href="mailto:{{ playlist.author.email }}">{{ playlist.author.email }}</a>
		        </div>
		    </div>
		    <div flex="none" class="line" layout="row" layout-xs="column">
		        <div class="content-left"></div>
		        <div flex class="content-right" layout="row" layout-align="space-between none">
	        		<small title="{{ playlist.created_at | datetime }}">
	        			Criado em: {{ playlist.created_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        		<small title="{{ playlist.updated_at | datetime }}" ng-if="playlist.created_at != playlist.updated_at">
	        			Alterado em: {{ playlist.updated_at | datetime:'DD/MM/YYYY' }}
	        		</small>
	        	</div>
		    </div>
	    </div>
    </div>
</md-content>
<style type="text/css">
	.playlist-show h1 {
		margin: 0;
	}
	.playlist-show .content-left {
		min-width: 200px;
		text-align: right;
		margin-right: 10px;
	}
	.playlist-show .content-right div {
		vertical-align: middle;
	}
	.playlist-show .content-right p {
		margin: 0;
	}
	.playlist-show .content-image {
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.3);
	}
	.playlist-show .line {
		margin: 15px 0;
	}
	.playlist-show .avatar {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgba(0,0,0,.2);
		border-radius: 100px;
	}
	.playlist-show div[scale-image] {
		background-image: url('img/playlist_avatar.jpg');
	}
	@media screen and (max-width: 600px) {
	    .playlist-show .content-left {
	    	text-align: left;
	    }
	}
</style>