<md-content 
	class="playlist-store"
    layout="row"
    layout-fill 
    layout-padding>
    <form name="playlistForm" ng-submit="submit()" layout="column" flex flex-gt-sm="50">
    	<h1 class="md-display-1">
    		Nova Playlist:
    	</h1>
    		            
		<md-input-container flex="none">
    		<label>Titulo:</label>
			<input 
				md-autofocus
				name="playlist_title"
				type="text"
				ng-model="playlist.title"
				autocorrect="off"
				autocapitalize="words"
				md-maxlength="100"
				required />
			<div ng-messages="playlistForm.playlist_title.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 100 caracteres.</div>
			</div>
		</md-input-container>
		<md-input-container flex="none">
            <label>Descrição:</label>
            <textarea 
            	name="playlist_note" 
            	md-maxlength="5000" 
            	required
            	rows="3" 
            	ng-model="playlist.note">
            </textarea>
			<div ng-messages="playlistForm.playlist_note.$error">
				<div ng-message="required">Este campo é obrigatório.</div>
				<div ng-message="md-maxlength">O título deve ter até 5000 caracteres.</div>
			</div>
        </md-input-container>
		
        <md-input-container flex="none" style="position: relative;">
	    	<div 
        		flex
        		scale-image="48"
        		src="{{ playlist.image.file | trust }}"
        		ng-click="imageCropDialog()"></div>
    		<div style="position: absolute; right: 0; top: 0;" layout="row">
	        	<md-button class="md-fab md-mini md-primary" ng-click="imageCropDialog()">
	        		<md-icon class="mdi mdi-image"></md-icon>
	        		<md-tooltip md-direction="left">Carregar Imagem</md-tooltip>
	        	</md-button>
    			<md-button ng-show="playlist.image" class="md-fab md-mini md-warn" ng-click="removeImage()">
	        		<md-icon class="mdi mdi-close"></md-icon>
	        		<md-tooltip md-direction="right">Remover Imagem</md-tooltip>
	        	</md-button>
    		</div>
	    </md-input-container>
	    <md-switch 
	     flex="none"
	    	class="md-primary" 
	    	ng-model="playlist.official" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="playlist.official = playlist.official == null ? 1 : playlist.official"
	    	aria-label="Oficial">
			Oficial: {{ playlist.official == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <md-switch 
	     flex="none"
	    	class="md-primary" 
	    	ng-model="playlist.enabled" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="playlist.enabled = playlist.enabled == null ? 1 : playlist.enabled"
	    	aria-label="Ativo">
			Ativo: {{ playlist.enabled == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <md-switch 
	     flex="none"
	    	class="md-primary" 
	    	ng-model="playlist.highlight" 
	    	ng-true-value="1" 
	    	ng-false-value="0" 
	    	ng-init="playlist.highlight = playlist.highlight == null ? 0 : playlist.highlight"
	    	aria-label="Ativo">
			Destaque: {{ playlist.highlight == 1 ? 'SIM':'NÃO' }}
		</md-switch>
	    <input type="submit" hidden ng-disabled="playlistForm.$invalid">
	    <p class="muted text-right"><em><small>( * ) Campo obrigatório.</small></em></p>
		<md-button
			ng-disabled="playlistForm.$invalid"
			style="margin: 0;"
			class="md-raised md-primary"
			ng-click="submit()">
			Salvar
		</md-button>
		<div flex="none" style="height: 30px;"></div>
    </form>
</md-content>